{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}

    <style>
    </style>

    <div class="wrapper">
        <h1>Clubs Esprit</h1>
        <h3>Nom est: {{ nom }}</h3>
    </div>

{% endblock %}
