{% extends 'base.html.twig' %}

{% block title %}Affiche VoitureController!{% endblock %}

{% block body %}
<style>
</style>

<div class="wrapper">
<h1>La voiture sélectionnée a les caractéristiques suivantes:</h1>
    <h3>Vitesse: <strong>{{ vitesse }}</strong>.</h3>
    <h3>Puissance: <strong>{{ puissance }}</strong>.</h3>
</div>
{% endblock %}
